<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%products.map((e) => { %>
        <h4>
            <a href="/product/<%=e.id%>"><%=e.productTitle%></a>
        </h4>
        <p><%=e.productDes%></p>
        <p><%=e.price%></p>
    <%})%>
</body>
</html>